In [10]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
host = "localhost"
database = "dortmund_baumkataster"
user = "petem98"
password = "Doedel11%40"
#postgresql://username:password@hostname/dbname
connection_string = f"postgresql://{user}:{password}@{host}/{database}"

Verbindung aufbauen

In [12]:
%sql $connection_string

### Zusammenfassung

In [13]:
%%sql 
SELECT 
    COUNT(id) AS "Bäume",
    COUNT(DISTINCT LOWER(art_botani)) AS "Arten",
    COUNT(DISTINCT LOWER(gattung)) AS "Gattungen"
FROM bäume;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
1 rows affected.

[(136894, 650, 103)]

In [14]:
%%sql
SELECT 
    ROUND(AVG(standalter), 2) AS "Durchschn. Standalter [Jahre]",
    ROUND(AVG(stammdurch), 2) AS "Durchschn. Stammdurchmesser [cm]",
    ROUND(AVG(kronendurc::numeric),2) AS "Durchschn. Kronendurchmesser [m]",
    ROUND(AVG(stammumfan::numeric),2) AS "Durchschn. Stammumfang [m]"
FROM bäume
WHERE standalter IS NOT NULL
  AND stammdurch IS NOT NULL AND stammdurch != 0
  AND kronendurc IS NOT NULL AND kronendurc != 0
  AND stammumfan IS NOT NULL AND stammumfan != 0;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
1 rows affected.

[(Decimal('29.50'), Decimal('46.22'), Decimal('9.37'), Decimal('145.23'))]

#### Anzahl Bäume nach Stadtbezirk

In [15]:
%%sql
SELECT 
    stadtbezbe AS "Bezirk",
    COUNT(id) AS "Anzahl Bäume",
    round(AVG(standalter),2) AS "Durchschn. Standalter [Jahre]"
FROM 
    bäume
WHERE standalter IS NOT NULL
GROUP BY 
    stadtbezbe
ORDER BY 
    COUNT(id) DESC
;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
13 rows affected.

[('Brackel', 17179, Decimal('11.01')),
 ('Innenstadt-Ost', 16823, Decimal('23.99')),
 ('Innenstadt-West', 12631, Decimal('22.28')),
 ('Innenstadt-Nord', 11742, Decimal('19.47')),
 ('Aplerbeck', 11409, Decimal('12.66')),
 ('Hombruch', 11351, Decimal('18.72')),
 ('Hörde', 10853, Decimal('27.29')),
 ('Scharnhorst', 10628, Decimal('17.12')),
 ('Lütgendortmund', 10328, Decimal('32.04')),
 ('Mengede', 9510, Decimal('17.68')),
 ('Eving', 8074, Decimal('21.17')),
 ('Huckarde', 6352, Decimal('21.88')),
 (None, 14, Decimal('26.86'))]

#### Top 10 Häufigste Baumarten

In [16]:
%%sql
SELECT 
    art_deutsc AS "Art", 
    COUNT(id) AS "Anzahl Bäume"
FROM 
    bäume
GROUP BY 
    art_deutsc
ORDER BY 
    COUNT(id) DESC
LIMIT 10;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
10 rows affected.

[('AHORN', 11355),
 ('LINDE', 7256),
 ('AHORNBLAETTRIGE PLATANE', 6281),
 ('GEMEINE HAINBUCHE - GEMEINE WEISSBUCHE', 6218),
 ('BERG-AHORN  -  WEISS-AHORN', 5884),
 ('WINTER-LINDE', 5660),
 ('GEWOEHNLICHE ESCHE', 5325),
 ('HAINBUCHE', 4966),
 ('SPITZ-AHORN', 4572),
 ('ESCHE', 4397)]

#### Top 5 Häufigste Gattungen

In [18]:
%%sql
SELECT 
    gattung AS "GAttung", 
    COUNT(id) AS "Anzahl Bäume"
FROM 
    bäume
GROUP BY 
    gattung
ORDER BY 
    COUNT(id) DESC
LIMIT 5;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
5 rows affected.

[('ACER', 27530),
 ('TILIA', 14455),
 ('CARPINUS', 11718),
 ('QUERCUS', 10431),
 ('PLATANUS', 10221)]

In [19]:
%%sql
SELECT 
    gattung AS "Gattung", 
    COUNT(DISTINCT art_deutsc) AS "Anzahl Verschiedene Arten"
FROM 
    bäume
GROUP BY 
    gattung
ORDER BY 
    "Anzahl Verschiedene Arten" DESC
LIMIT 5;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
5 rows affected.

[('ACER', 69), ('PRUNUS', 44), ('MALUS', 32), ('QUERCUS', 27), ('BETULA', 21)]

#### Wo steht der älteste Baum je Stadtbezirk? (Vgl Sterne in Karte)

In [20]:
%%sql
SELECT 
    b.stadtbezbe AS "Bezirk",
    b.pflanzjahr AS "Pflanzjahr",
    b.art_deutsc AS "Art",
    b.stammumfan AS "Stammumfang [cm]"
FROM 
    bäume b
JOIN (
    SELECT 
        stadtbezbe,
        MIN(pflanzjahr::numeric) AS min_pflanzjahr
    FROM 
        bäume
    WHERE 
        pflanzjahr IS NOT NULL
    GROUP BY 
        stadtbezbe
) AS min_jahre ON b.stadtbezbe = min_jahre.stadtbezbe 
               AND b.pflanzjahr::numeric = min_jahre.min_pflanzjahr
ORDER BY pflanzjahr ASC;

 * postgresql://petem98:***@localhost/dortmund_baumkataster
12 rows affected.

[('Scharnhorst', '1700', 'SAL-WEIDE, PALM WEIDE', 785.0),
 ('Aplerbeck', '1760', 'FLÜGELNUSS', 0.0),
 ('Lütgendortmund', '1791', 'AHORNBLAETTRIGE PLATANE', 0.0),
 ('Huckarde', '1795', 'LINDE', 131.95),
 ('Mengede', '1797', 'PAPPEL', 675.44),
 ('Eving', '1798', 'WEIDE', 0.0),
 ('Hörde', '1807', 'FELDAHORN', 534.0),
 ('Innenstadt-Nord', '1819', 'SAEULENFOERMIGER SPITZ-AHORN', 0.0),
 ('Innenstadt-West', '1832', 'PLATANE', 471.0),
 ('Brackel', '1833', 'PAPPEL', 0.0),
 ('Innenstadt-Ost', '1848', 'SCHWARZ-PAPPEL', 0.0),
 ('Hombruch', '1860', 'SAL-WEIDE, PALM WEIDE', 0.0)]