Load Jupyter SQL Extension (does not allow for comments in code chunk)

In [2]:
%load_ext sql
%sql mysql+mysqldb://peter:doedel@localhost/

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Create Database

In [4]:
%%sql

CREATE DATABASE supermarket_DB;
USE supermarket_DB;

 * mysql+mysqldb://peter:***@localhost/
1 rows affected.
0 rows affected.

[]

Create Tables

In [5]:
%%sql

CREATE TABLE aisles (
    aisle_id INT,
    aisle VARCHAR(100)
);

CREATE TABLE departments (
    department_id INT,
    department VARCHAR(100)
);

CREATE TABLE order_details (
    order_id INT,
    product_id INT,
    add_to_cart_order INT,
    reordered INT
);

CREATE TABLE orders (
    order_id INT,
    user_id INT,
    eval_set VARCHAR(100),
    order_number INT,
    order_dow INT,
    order_hour_of_day INT,
    days_since_prior_order INT
);

CREATE TABLE products (
    product_id INT,
    product_name VARCHAR(100),
    aisle_id INT,
    department_id INT
);

 * mysql+mysqldb://peter:***@localhost/
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

Fill tables with content from the downloaded csv files

In [ ]:
%%sql

LOAD DATA LOCAL INFILE "/home/peter/Documents/Supermarket/archive/aisles.csv"
INTO TABLE aisles
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE "/home/peter/Documents/Supermarket/archive/departments.csv" 
INTO TABLE departments
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE "/home/peter/Documents/Supermarket/archive/order_products__prior.csv" 
INTO TABLE order_details
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE "/home/peter/Documents/Supermarket/archive/orders.csv" 
INTO TABLE orders
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;

LOAD DATA LOCAL INFILE "/home/peter/Documents/Supermarket/archive/products.csv" 
INTO TABLE products
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 LINES;